* {
  box-sizing: border-box;
}

html,
body {
  margin: 20px;
  padding: 10px;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, 'Helvetica Neue', Arial, 'Noto Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #111;
  background: #fafafa;
}